

<!-- <div class="container"> -->

<div class = 'row'>

  <div class="col s4 offset-s4 homeHeader center">
    <span class="flow-text center-align headerText">Past Projects</span>



  </div>



</div>
  <!-- <hr> -->

  <div class='row'>
    <div class="col s4">

      <past-Project-Directive></past-Project-Directive>
    </div>

    <div class="col s4">
      <past-Serverless-Directive></past-Serverless-Directive>
    </div>

    <div class="col s4">
      <group-Project></group-Project>
    </div>

  </div>

<!-- </div> -->
