.profileImage {
height: inherit;


}

.profileBox{
height: auto;
width: auto;


}
.profilePicture {
/*display: inline-block;*/

}

.PersonalInfo {
/*display: inline-block;*/

}
.dContainer{

  width:100px;
  height: 50px;
}
