.profileImage {
height: inherit;


}

.profileBox{
height: auto;
width: auto;


}
.fancyFont {
  font-family: castellar;
}
.dContainer{

  width:100px;
  height: 50px;
}
.backgroundImage {
  background-image: url("../images/Seoulll.jpg");
   background-size: cover;
}

.homeHeader {
  /*background-color: #F2F1F5;*/
  margin-top: 5%;


}
.headerText {
  font-weight: bold;
  font-family: castellar;
  font-size: 40px;
}

.navBar{
border-bottom: black solid 5px;

}
.projectsInfo {
  font-family: castellar;
  font-size: 16px;
}

.flow-text {
  font-family: castellar;
}
.homeBox {
  margin-top: 5%;
}
.skillText {
  margin-top: auto;
  padding: 6px;
  background-color: #673AB7;
}
.bouncingBalls{
  width: 100px;
  Height:50px;
}
.rotateText {
  font-weight: bold;
  font-size: 24px;
}

.smallDirective{
  margin-top: 5%;
}
.profileHeader {
  padding: 5px;
}
.name {
  margin-left: 2%;
}
