.profileImage {
  height: 90%;


}

.backgroundProfile {
  background-color: pink;
}

/*http://www.colourlovers.com/palette/137885/Grey_Toad*/
/*black: #030000
rottenWood: #2C2918
winterNaught: #3E3F41
imdur: #F2F2F2
tarninshedSilver: #A19B88*/
