$accentPurple: #9068BE;
$darkGreyColor: #55585D;
$accentTeal: #6ED3CF;
$accentRed: #E62739;
$lightGrey: #E1E8F0;

.darkGreyColor {
  background-color: $darkGreyColor;
}
.darGreyText {
  color: $darkGreyColor;
}
.addedLightGrey {
  color:$lightGrey;
}
.greyColor{
  background-color: $lightGrey;
}
.accentTeal{
  background-color: $accentTeal;
}
.accentRed{
  background-color: $accentRed;
}

.topText {
  margin-left: 10%;
  margin-right: 10%;
}
.parallax-container {
  width: 100%;
  z-index: 1;
}
.textColor {
  color: $darkGreyColor;
}
.infoBoarderCard {
  display: inline;

}
.topContainer{
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.topBoarder {
  width: 100%;
  height: 5%;
  background-color: $darkGreyColor;
  // line-height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleCard {
  background-color: $accentTeal;
}
.infoBoarder {
  align-items: center;
  width: 100%;
  height: 20%;
  display: flex;
  background-color: $lightGrey;
}
.nameTag {
  margin-left: 15%;
  margin-right: 5%;
  float: left;
  color:black;
  text-shadow: 1px 1px 2px white, 0 0 6px #55585D, 0 0 7px #6ED3CF;
}
.nameImg {
  height: 100%;
  width: 100%;
  margin-top: 5%;
  border-bottom: $accentTeal solid 5px;
}
.navBar {
  border-bottom: $accentTeal solid 5px;
  width: 100%;
  left: 15%;
  background-color: $lightGrey;
}
.infoFlipContainer{

  border-radius: 10px;
  // width: 40%;
  position: absolute;
  top: 6px;
  right: 10%;
  z-index: 2;

}
.infoFlip {
border-bottom: $accentTeal solid 5px;
  z-index: 2;
  color: $darkGreyColor;

}
.autoHeight {
  height: 100%;
}
.boxHolder {
  overflow: auto;
}
.profileBox {
  height: auto;
  width: auto;
}
.fancyFont {
  font-family: castellar;
}
.dContainer {
  width: 100px;
  height: 50px;
}
.projectCards {
  height: 50%;
}
.headerText {
  font-weight: bold;
  font-family: castellar;
  font-size: 40px;
}
body {

  background-color: $lightGrey;
}
.projectsInfo {
  font-family: castellar;
  font-size: 16px;
}
.flow-text {
  font-family: castellar;
  color:$darkGreyColor;
}
.colorText {
  color: $darkGreyColor;
}
.homeBox {
  margin-top: 5%;
}
.skillText {
  margin-top: auto;
  padding: 6px;
  background-color: $accentPurple;
}
.bouncingBalls {
  width: 100px;
  height: 50px;
}
.rotateText {
  font-weight: bold;
  // font-size: 24px;
}
.profileHeader {
  padding: 5px;
}
.name {
  margin-left: 2%;
}
.aboutImgContainer{
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.aboutImage {
  display: block;
  background: no-repeat center/36% url("/app/images/SmallK.png");
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: -3px;
  bottom: 0;
  width: 100%;
  height: 60%;
}
.cardTitle{
  padding: 5px;
  border-radius: .3em;
  position: absolute;
  top: 10px;
  font-weight: 800;
  font-size: 24px;
  left: 20px;
  color:black;
  background-color: $lightGrey;
  box-shadow: 10px 5px 5px #6ED3CF;
}

.aboutText{
  color: $darkGreyColor;
  font-size: 1.1em;
}
.parallax-container{
  height: 300px;
}
