<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
})

</script>



<div class = "backgroundProfile">

   <div class="card small backgroundProfile center-align">

      <div class = "z-depth-3"ng-click="rotatePictures()">
        <img class = "profileImage" ng-src="{{pictureToShow}}">
        <p>test</p>
      </div>

    </div>

</div>




<div class="container about">
  <h5>About The Site</h5>
  <h6>Information about me and my learning of programming</h6>
  <hr>
  <div class="row">
    <div class="col s12 m4 l4">
      <h4>Recent learnings</h4>
      <p>CSS</p>
      <p>Javascript</p>
      <p>JQuery</p>
      <p>AngularJS</p>
      <p>FireBase</p>
      <p>GitHub ;)</p>
      <p>MongoDB</p>
      <p>Mongoose</p>
      <p>Express</p>
      <p>NodeJS</p>
    </div>
    <div class="col s12 m4 l4">
      <h6>What This Site Does</h6>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <img src="http://www.cliparthut.com/clip-arts/122/school-secretary-clip-art-122405.gif" width="64" height="64">
          <p>Currently enrolled in a 13 week full immersion course at DevMountain. There I am working to hard to develope my programming skills.</p>
        </div>
        <div class="card-action">
          <a href="https://devmounta.in/web-immersive">Check out DevMountain!</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4 l4">
      <h6>Links to other helpful sites for learning to code</h6>
      <ul class="collapsible">
        <li class="active">
          <div class="collapsible-header"><i class="mdi-av-web"></i>StackOverflow</div>
          <div class="collapsible-body"><p>Basically, the best place on the internet to find a reason why code is not cooperating.<a href = "http://www.eslcafe.com/">Click to visit</a></p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="mdi-editor-format-align-justify"></i>How to center in CSS</div>
          <div class="collapsible-body"><p>Ah yes, the most sought question for the new CSS guru..<a href = "http://howtocenterincss.com/">Centering</a> that one thingy that just doesn't seem to want to...</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="mdi-av-play-shopping-bag"></i>Comming soon</div>
          <div class="collapsible-body"><p>The project I learned coding for... TBA.. Bum bum buuuum</p></div>
        </li>

      </ul>
    </div>
  </div>
</div>
